.type-container {
  display: flex;
  padding: 3px 7px;
  width: fit-content;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 600;
}

.normal {
  background-color: #bcbcac;
}

.fighting {
  background-color: #bc5442;
}

.flying {
  background-color: #669aff;
}

.ground {
  background-color: #debc54;
}

.rock {
  background-color: #bcac66;
}

.bug {
  background-color: #abbc1c;
}

.ghost {
  background-color: #6666bc;
}

.fire {
  background-color: #ff421c;
}

.water {
  background-color: #2f9aff;
}

.grass {
  background-color: #78cd54;
}

.electric {
  background-color: #ffcd30;
}

.psychic {
  background-color: #ff549a;
}

.ice {
  background-color: #78deff;
}

.dragon {
  background-color: #7866ef;
}

.dark {
  background-color: #785442;
}

.fairy {
  background-color: #ffacff;
}

.shadow {
  background-color: #0e2e4c;
}

.poison {
  background-color: #ab549a;
}
