.selected-poke-card{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 76%;
    height: 88%;
    width: 20%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}