.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background: #f6f8fc;
  padding-left: 80px;
}

.poke-cards-wrapper{
    display: flex;
    justify-content: left;
    width: 100%;
}